[Unit]
Description=Schedule non-overlapping Recall BrainStore logical backups

[Timer]
OnActiveSec=15min
OnUnitInactiveSec=6h
AccuracySec=15s
Persistent=true

[Install]
WantedBy=timers.target
